<?xml version="1.0"?>
<robot name="diff_drive" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="namespace" default="" />

  <material name="orange">
    <color rgba="0.8 0.4 0.0 1.0"/>
  </material>

  <material name="black">
    <color rgba="0 0 0 1.0"/>
  </material>

  <material name="white">
    <color rgba="1 1 1 1.0"/>
  </material>

  <link name="base_link">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.8 0.4 0.2"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.8 0.4 0.2"/>
      </geometry>
      <material name="orange"/>
    </visual>

    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="3"/>
      <inertia
        ixx="0.05"
        ixy="0.0"
        ixz="0.0"
        iyy="0.17"
        iyz="0.0"
        izz="0.20"/>
    </inertial>
  </link>

  <joint name="lidar_joint" type="fixed">
    <parent link="base_link" />
    <child link="lidar_link" />
    <origin xyz="0.0 0 0.15" rpy="0 0 0" />
  </joint>

  <link name="lidar_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.1" length="0.1"/>
      </geometry>
      <material name="grey">
        <color rgba="0.625 0.625 0.625 1" />
      </material>
    </visual>

    <collision>
      <origin xyz="0 0 0.095" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.1" length="0.1"/>
      </geometry>
    </collision>

    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.2"/>
      <inertia
        ixx="0.026164"
        ixy="0.0"
        ixz="0.0"
        iyy="0.016519"
        iyz="0.0"
        izz="0.081014"/>
    </inertial>
  </link>

  <joint name="camera_joint" type="fixed">
    <parent link="base_link" />
    <child link="camera_link" />
    <origin xyz="0.41 0 0" rpy="0 0 0" />
  </joint>

  <link name="camera_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.2 0.2 0.2"/>
      </geometry>
      <material name="grey">
        <color rgba="0.625 0.625 0.625 1" />
      </material>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.2 0.2 0.2"/>
      </geometry>
    </collision>

    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.3"/>
      <inertia
        ixx="0.05"
        ixy="0.0"
        ixz="0.0"
        iyy="0.05"
        iyz="0.0"
        izz="0.05"/>
    </inertial>
  </link>

  <joint name="left_wheel_joint" type="continuous">
    <origin xyz="0.2 0.25 -0.1" rpy="-1.5707 0 0"/>
    <parent link="base_link"/>
    <child link="left_wheel"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="0.2"/>
  </joint>

  <link name="left_wheel">
    <collision>
      <geometry>
        <cylinder radius="0.1" length="0.1"/>
      </geometry>
    </collision>

    <visual>
      <geometry>
        <cylinder radius="0.1" length="0.1"/>
      </geometry>
      <material name="black"/>
    </visual>

    <inertial>
      <mass value="0.3"/>
      <inertia
        ixx="0.001"
        ixy="0.0"
        ixz="0.0"
        iyy="0.001"
        iyz="0.0"
        izz="0.0015"/>
    </inertial>
  </link>

  <joint name="right_wheel_joint" type="continuous">
    <origin xyz="0.2 -0.25 -0.1" rpy="-1.5707 0 0"/>
    <parent link="base_link"/>
    <child link="right_wheel"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="0.2"/>
  </joint>

  <link name="right_wheel">
    <collision>
      <geometry>
        <cylinder radius="0.1" length="0.1"/>
      </geometry>
    </collision>

    <visual>
      <geometry>
        <cylinder radius="0.1" length="0.1"/>
      </geometry>
      <material name="black"/>
    </visual>

    <inertial>
      <mass value="0.5"/>
      <inertia
        ixx="0.001"
        ixy="0.0"
        ixz="0.0"
        iyy="0.001"
        iyz="0.0"
        izz="0.0015"/>
    </inertial>
  </link>

  <joint name="caster_joint" type="fixed">
    <origin xyz="-0.3 0 -0.1" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="caster"/>
  </joint>

  <link name="caster">
    <collision>
      <geometry>
        <sphere radius="0.1"/>
      </geometry>
    </collision>

    <visual>
      <geometry>
        <sphere radius="0.1"/>
      </geometry>
      <material name="white"/>
    </visual>

    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.5"/>
      <inertia
        ixx="0.01"
        ixy="0.0"
        ixz="0.0"
        iyy="0.01"
        iyz="0.0"
        izz="0.01"/>
    </inertial>
  </link>

  <ros2_control name="GazeboSimSystem" type="system">
    <hardware>
      <plugin>gz_ros2_control/GazeboSimSystem</plugin>
    </hardware>
    <joint name="left_wheel_joint">
      <command_interface name="velocity">
        <param name="min">-1</param>
        <param name="max">1</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="right_wheel_joint">
      <command_interface name="velocity">
        <param name="min">-1</param>
        <param name="max">1</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
  </ros2_control>

  <gazebo>
  
    <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <ros>
        <namespace>$(arg namespace)</namespace>
      </ros>
      <parameters>$(find yolo_landmark)/config/diff_drive_controller.yaml</parameters>
    </plugin>
  </gazebo>

</robot>
